body {
    color: lightsteelblue;
    background-color: black;
    font-family: Arial, sans-serif;
}

h1, h2 {
    color: lightsteelblue;
    text-align: center;
}

input[type="text"] {
    padding: 5px;
    width: 30%;
    border: 1px solid lightsteelblue;
    border-radius: 5px;
}

form {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}

input[type="submit"] {
    padding: 5px 10px;
    background-color: lightsteelblue;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
}

input[type="submit"]:hover {
    background-color: #b0c4de;
}

/* Grid layout with minimum width of 450px for containers */
.domain-columns-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr)); /* Minimum width of 450px */
    gap: 20px;
}

.domain-column {
    margin: 10px;
    border: 1px solid lightsteelblue;
    border-radius: 10px;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    white-space: nowrap; /* Prevent text wrapping */
    overflow: hidden; /* Prevent overflow */
    text-overflow: ellipsis; /* Show ellipsis if text overflows */
}

.domain-column ul {
    list-style-type: none;
    padding: 0;
}

a {
    color: lightsteelblue;
    text-decoration: none;
    white-space: nowrap; /* Prevent wrapping in links */
    overflow: hidden; /* Hide overflow */
    text-overflow: ellipsis; /* Show ellipsis */
}

a:hover {
    text-decoration: underline;
}

.remove-button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 16px;
    margin-right: 8px;
}

.remove-button:hover {
    color: #b0c4de;
}

.lease-expiry {
    text-align: center;
    font-weight: bold;
    margin-bottom: 10px;
    white-space: nowrap; /* Prevent wrapping for expiry */
}

.domain-column ul {
    list-style-type: none;
    padding: 0;
    margin-top: 10px;
}

/* Modal styling */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Dark background overlay */
    justify-content: center;
    align-items: center;
}

/* Content of the modal */
.modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    text-align: center;
}

.modal button {
    margin: 10px;
    padding: 5px 10px;
    cursor: pointer;
}

/* Style for the text area in subdomain detail */
.notes-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin: 0 auto;
}

.notes-form textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid lightsteelblue;
    border-radius: 5px;
    font-size: 16px;
    margin-bottom: 10px;
}

/* Buttons section under the text area */
.form-buttons {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.cancel-button, .save-button {
    padding: 8px 16px;
    text-decoration: none;
    background-color: lightsteelblue;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: black;
    text-align: center;
}

.cancel-button {
    background-color: transparent;
    color: lightsteelblue;
    border: 1px solid lightsteelblue;
}

.cancel-button:hover, .save-button:hover {
    background-color: #b0c4de;
}

.save-button {
    width: 100px;
    background-color: lightsteelblue;
    border: 1px solid lightsteelblue;
    cursor: pointer;
    margin-left: 10px;
}