<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="navbar">
        {% if current_user.is_authenticated %}
            <a href="/logout" class="logout-button">Logout</a>
        {% endif %}
    </div>

    <div class="text-center">
        <h1>Login to the Admin Portal</h1>
    </div>

    <!-- Login form -->
    <form method="POST" action="{{ url_for('login') }}" class="login-form">
        <input type="password" id="password" name="password" required>
        <br><br>
        <input type="submit" value="Login">
    </form>
</body>
</html>
